<div class="container">
    <header>
        <div class="jumbotron">
            <h1 class="display-4">News Scraper</h1>
            <h2 class="lead">Get your news.</h2>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">The news</div>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id fuga doloribus beatae cum explicabo dignissimos soluta consectetur! Iusto temporibus debitis laborum a. Veniam numquam iusto molestiae itaque consequuntur similique explicabo!</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>